h1 {
    text-decoration: underline;
}

.switch .switch__label {
    width: 150px;
    font-size: 1.2em;
    display: inline-block;
    margin: 8px 0;
}

.award-picker,
.event-picker {
    padding: 30px;
}

body, nav {
    background: #333;
    color: white;
}

/* nav { */
/*     background: #333; */
/*     box-shadow: none; */
/*     border-bottom: 1px solid white; */
/*     width: 100vw; */
/*     left: calc(50vw - 50%); */
/*     position: relative; */
/* } */

.side-nav {
    /* width: 350px !important; */
    color: #333;
    overflow-y: scroll;
}

@media only screen and (min-width: 992px) {
    #main {margin-left: 350px;}
}

.movie-result-card {
    background: #666;
}
.card-title {
    color: white;
}

.itunes-link {
    margin-top: 1em;
    width: 80px;
}
